.form-row {
    display: block;
}

.form-label {
    display: inline-block;
    text-align: right;
    width: 250px;
    margin-right:10px;
}

.form-error {
    color: red;
    display: inline-block;
    text-align: left;
    margin-left:10px;

}
